/* all css commented out because it affects the layout of the page for the login.jsx */


/* 
footer {
  padding: 5% 2.5%;
    bottom: 0;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
    @media (max-width: 1000px) {
     padding: 70px 30px;
    }
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
 */
